#!/bin/sh

setxkbmap fi

# Map escape to caps lock
setxkbmap -option caps:escape

# Set the rate at which a depressed key replicates. Default 660 25
xset r rate 330 50

nitrogen --restore &	# Nitrogen for wallpaper

dwmblocks &

#picom &		# Compositor

redshift -P -O 5000		# Dampens blue light

unclutter &		# Removes mouse cursor when idle
